body{ 
    background-image: url(https://github.com/yurevvn/WSitewHM/blob/main/fonn.jpg?raw=true); /*Добавляем фон сайту*/
    background-repeat: no-repeat;  /*Чтобы фон не повторялся*/
    background-size: cover; /*Растягиваем изображение на весь фон сайта*/
    background-attachment: fixed
}

h1{
    font-size: 37px; /* Начальный размер заголовка */
    color: rgb(49, 255, 22); /* Меняем цвет заголовка*/
    text-align: center; /*Перетягиваем заголовок к центру*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*Меняем шрифт заголовка*/
}
li {
    list-style-type: none; /* Убираем нижнее подчеркивание у ссылок*/
    padding: 0; 
    margin: 10px 0; /* Увеличиваем отступы между кнопками */
}

a {
    font-size: 23px; /* Увеличиваем размер текста ссылок */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block; /* Делаем ссылку блочным элементом для настройки размеров */
    padding: 6px 12px; /* Отступы внутри кнопки */
    background-color: #642727; /* Цвет фона кнопки */
    color: #c5aa60; /* Цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
    border-radius: 25px; /* Овальная форма кнопки */
    transition: background-color 0.3s; /* Плавный переход цвета при наведении */
}
 
@keyframes textAnimation {
    0% {
        transform: scale(1);
        color: #330b01;
    }
    50% {
        transform: scale(1.1);
        color: rgb(80, 10, 10);
    }
    100% {
        transform: scale(1);
        color: #330b01;
    } /*Добавим анимацию текста при наведении курсором на ссылку*/
}

a:hover {
    background-color: #300101; /* Цвет фона кнопки при наведении */
}

@keyframes rainbow  /*добавим ргб подсветку к заголовку*/ {
    0% { color: #642727; }
    14% { color: rgb(104, 0, 0); }
    28% { color: rgb(160, 21, 21); }
    42% { color: rgb(177, 148, 75); }
    57% { color: rgb(75, 66, 41); }
    71% { color: rgb(95, 73, 32); }
    85% { color: rgb(104, 0, 0) }
    100% { color: rgb(49, 0, 0); } /* добавим ргб подсветку к заголовку*/
} 

.rainbow-text {
    animation: rainbow 3s linear infinite; /*Поставим длительность анимации */
}
